<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: grid;
    place-content: center;
    height: 100vh;
    background: linear-gradient(lightgreen, lightseagreen);
    text-align: center;
  }
  h1 {
    color: white;
  }
  button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background: green;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    transition: transform 300ms;
  }
  button:hover {
    transform: scale(1.2);
  }
</style>

<h1>welcome <%= name %></h1>
<form action="/logout" method="POST">
  <button>try again</button>
</form>
