.product {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.item {
  display: flex;
  align-items: center;
}

.details {
  margin-left: 1rem;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: orange;
  font-size: 1.25rem;
}

.triangle {
  width: min(15vw, 5rem);
  height: min(15vw, 5rem);
  background: orangered;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.circle {
  width: min(15vw, 5rem);
  height: min(15vw, 5rem);
  background: skyblue;
  border-radius: 50%;
}
.square {
  width: min(15vw, 5rem);
  height: min(15vw, 5rem);
  background: seagreen;
}
