/* CSS FOR CSS SHOWCASE PAGE ONLY */

/* NAVBAR STYLES OVERWRITE */
nav {
  background: var(--darkMode_dark);
  margin-bottom: 8rem;
}
nav a,
.fa-bars {
  color: var(--darkMode_light);
}
.fa-moon,
.fa-sun {
  color: var(--color_highlight_onLightBG);
}
nav li::after {
  background: var(--darkMode_light);
}

/* HERO SECTION */
.hero {
  width: 80vw;
  margin: 0 auto 8rem;
}
.hero p {
  text-align: center;
  line-height: 1.75;
  text-shadow: 1px 1px 3px var(--darkMode_light),
    2px 2px 3px var(--darkMode_dark);
}
.hero span {
  font-weight: var(--fontW_lg);
  color: var(--color_highlight);
  transition: color 300ms;
}

/* JS TOGGLE CLASS - ADD MARGIN TOP WHEN NAV SHRINKS */
.marginTop {
  margin-top: 12rem !important;
}

/* SASS COVER IMG */
.sassCover {
  display: grid;
  place-items: center;
  padding: 2rem;
  width: 100%;
  min-height: 30rem;
  background: url("https://miro.medium.com/max/1400/1*EEGLirxBMjGhDb4oRrhqww.png")
    center no-repeat;
  background-position: cover;
  cursor: pointer;
  transition: background 300ms;
}
.sassCover:hover {
  background-position: 40% 40%;
}
