/* CSS FOR CSS SHOWCASE PAGE SECTION 1 ONLY */

/* ------------- ANIMATE SHAPES ------------- */
/* CONTAINER */
.animate-shapes {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 30rem;
  background: #000;
  overflow: hidden;
}
/* INNER TEXT */
.animate-shapes h2 {
  z-index: 10;
  color: var(--color_light);
  font-size: max(2.5rem, 4vw);
  font-weight: var(--fontW_lg);
  text-transform: capitalize;
  text-align: center;
}
/* SHAPES */
.animate-shapes div {
  --i: 0.4;
  position: absolute;
  width: max(6rem, 8vw);
  height: max(6rem, 8vw);
  animation: rise 2.5s ease-out infinite;
  opacity: 0;
}
/* SHAPES POSITION, DELAY, AND COLOR*/
.animate-shapes :nth-child(2) {
  --i: 0.35;
  left: 8%;
  bottom: 36%;
  background-color: #90f1ef;
  animation-delay: 1.5s;
}
.animate-shapes :nth-child(3) {
  --i: 0.5;
  left: 70%;
  bottom: -10%;
  background-color: #eff7f6;
  animation-delay: 0.3s;
}
.animate-shapes :nth-child(4) {
  --i: 0.65;
  left: 26%;
  bottom: 18%;
  background-color: #f9df74;
  animation-delay: 1.3s;
}
.animate-shapes :nth-child(5) {
  --i: 0.8;
  left: 80%;
  bottom: 48%;
  background-color: #c1fba4;
  animation-delay: 1s;
}
.animate-shapes :nth-child(6) {
  --i: 0.95;
  left: 45%;
  bottom: 36%;
  background-color: #20fc8f;
  animation-delay: 2s;
}
.animate-shapes :nth-child(7) {
  --i: 0.37;
  left: 22%;
  bottom: -30%;
  background-color: #007cbe;
  animation-delay: 1.8s;
}
.animate-shapes :nth-child(8) {
  --i: 0.8;
  left: 62%;
  bottom: 21%;
  background-color: #b0228c;
  animation-delay: 0.4s;
}
.animate-shapes :nth-child(9) {
  --i: 0.65;
  left: -6%;
  bottom: 0;
  background-color: #23c9ff;
  animation-delay: 2.2s;
}
.animate-shapes :nth-child(10) {
  --i: 0.5;
  left: 47%;
  bottom: 11%;
  background-color: #ff8360;
  animation-delay: 1.7s;
}
.animate-shapes :nth-child(11) {
  --i: 0.35;
  left: 89%;
  bottom: -40%;
  background-color: #dbf9b8;
  animation-delay: 1s;
}
.animate-shapes :nth-child(12) {
  --i: 1;
  left: 30%;
  bottom: 13%;
  background-color: #f374ae;
  animation-delay: 2.3s;
}
.animate-shapes :nth-child(13) {
  --i: 1.05;
  left: 53%;
  bottom: -20%;
  background-color: #7e52a0;
  animation-delay: 0.6s;
}
/* SHAPE ANIMATIONS */
@keyframes rise {
  0% {
    /* HIDDEN */
    transform: translateY(0) scale(0) rotate(0);
    opacity: 0;
  }
  90% {
    /* RISE, ROTATE, AND GROW */
    border-radius: 50%;
    transform: translateY(-200px) scale(calc(var(--i) * 1)) rotate(360deg);
    opacity: 1;
  }
  /* BURST */
  100% {
    border-radius: 50%;
    transform: translateY(-200px) scale(calc(var(--i) * 1.5));
    opacity: 0;
  }
}

/* ------------- ANIMATION LINEAR-GRADIENT ------------- */
/* CONTAINER */
.animate-linearGradient {
  display: grid;
  place-items: center;
  width: 100%;
  min-height: 30rem;
  background: linear-gradient(
    45deg,
    lightblue,
    cyan,
    lightgreen,
    yellow,
    violet
  );
  background-size: 400%;
  animation: bg_position 3000ms linear alternate infinite;
}
/* INNER TEXT */
.animate-linearGradient > * {
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 400%;
  background-image: linear-gradient(
    45deg,
    var(--color_light),
    var(--color_dark)
  );
  color: transparent;
  font-size: max(2.5rem, 4vw);
  font-weight: 800;
  text-transform: capitalize;
  text-align: center;
  animation: bg_position 3000ms linear alternate infinite;
}

/* ANIMATION BACKGROUND SHIFTING */
@keyframes bg_position {
  0% {
    background-position: bottom left;
  }
  100% {
    background-position: top right;
  }
}
