.button {
  cursor: pointer;
  font: inherit;
  border: none;
  background-color: hsl(33, 100%, 38%);
  color: white;
  padding: 0.75rem min(2rem, 3vw);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  font-size: max(0.8rem, 1.2vw);
  font-weight: bold;
}

.button:hover,
.button:active {
  background-color: tomato;
}

.icon {
  width: 1.35rem;
  height: 1.35rem;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.badge {
  background-color: orange;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 0.5rem;
  font-weight: bold;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
