@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  color: hsl(0, 0%, 20%);
  background: url("./assets//shoppingBags.png") no-repeat;
  background-position: top;
  background-size: cover;
  overflow: hidden;
}
