/* CSS FOR CSS SHOWCASE PAGE SECTION 4 ONLY */

/* ------------- 3D FLIP CARD ------------- */
/* PARENT CONTAINER */
.card1 {
  position: relative;
  display: grid;
  place-items: center;
  min-height: 30rem;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, tomato, #569d93, #333);
}
/* CONTAINER */
.flip3D {
  position: relative;
  width: max(18rem, 22vw);
  height: max(25rem, 30vw);
  margin: auto;
  transform-style: preserve-3d;
  transition: transform 2.5s;
}
/* FRONT AND BACK CARDS */
.cardFront,
.cardBack {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)),
    url("https://pbs.twimg.com/media/DqfjrJ5XcAAMRr6.jpg");
  background-size: cover;
  color: var(--color_light);
  line-height: 1.5;
  text-align: center;
  word-spacing: 1.5px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 10px 10px 10px #333;
}
/* CARD TITLE */
.flip3D :where(h4, p) {
  font-size: var(--fontS_lg);
  transform: translateZ(150px);
  transition: color 1s;
}
/* CARD CONTENT */
.cardFront p {
  font-size: var(--fontS_sm);
  transform: translateZ(150px);
  transition: color 1s;
}
/* CARD BACK */
.cardBack {
  transform: rotateY(180deg);
}
/* OUTLINE OFFSET */
.cardFront::after,
.cardBack::after {
  content: "";
  position: absolute;
  inset: 0;
  outline: 2px solid tomato;
  outline-offset: -1rem;
  transform: translateZ(75px);
}
/* ON HOVER FLIP CARD */
.flip3D:hover {
  transform: rotateY(180deg);
}
.flip3D:hover :where(h4, p) {
  color: tomato;
}

/* ------------- FADE IN CARD ------------- */
/* PARENT CONTAINER */
.card2 {
  position: relative;
  display: grid;
  place-items: center;
  min-height: 30rem;
  width: 100%;
  height: 100%;
  background: linear-gradient(lightblue, lightcoral, #ceafcf);
}
/* CONTAINER */
.cardCotent {
  position: relative;
  display: grid;
  place-items: center;
  width: max(18rem, 22vw);
  height: max(5rem, 7vw);
  padding: 4rem 2rem;
  margin: auto;
  background-image: url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
  color: var(--color_light);
  text-align: center;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgb(113, 113, 113);
  transition: height 500ms;
}
/* TITLE */
.cardCotent h4 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: max(2rem, 3vw);
  line-height: 3;
  opacity: 0.5;
  transition: transform 500ms, font-size 500ms;
}
/* PARAGRAPH */
.cardCotent p {
  font-size: var(--fontS_sm);
  line-height: 1.5;
}
/* BTN */
.cardCotent button {
  margin-top: 1rem;
  padding: 10px;
  border: none;
  cursor: pointer;
}
/* DIM CONTENT */
.cardCotent :not(h4, h2, .cardMask) {
  transform: translateY(5rem);
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}
/* ON HOVER SHOW CONTENT */
.cardCotent:hover {
  height: max(25rem, 30vw);
}
.cardCotent:hover > * {
  transform: translateY(0);
  opacity: 1;
}
/* NUMBER */
.cardCotent h2 {
  position: absolute;
  top: 1rem;
  right: -6rem;
  font-size: max(6rem, 7vw);
  color: var(--colorHighlight);
  opacity: 0;
  transition: right 0.5s, opacity 0.5s;
}
/* ON HOVER SHOW NUMBER */
.cardCotent:hover h2 {
  z-index: 2;
  right: 1rem;
  opacity: 0.6;
}
.cardCotent:hover h4 {
  position: relative;
  top: 0;
  font-size: var(--fontS_lg);
  transform: translateY(0);
}
/* MASK */
.cardMask {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
  transition: left 0.5s;
}
/* ON HOVER REMOVE NUMBER */
.cardCotent:hover .cardMask {
  left: 100%;
}
/* SPINNING BORDER */
.cardCotent span {
  position: absolute;
}
.cardCotent span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}
.cardCotent span:nth-child(2) {
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
}
.cardCotent span:nth-child(3) {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
}
.cardCotent span:nth-child(4) {
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
}
/* ON HOVER SHOW SPINNING BORDER */
.cardCotent:hover span:nth-child(1) {
  animation: borderTop 4s linear infinite;
}
.cardCotent:hover span:nth-child(2) {
  animation: borderRight 4s linear infinite;
  animation-delay: 1s;
}
.cardCotent:hover span:nth-child(3) {
  animation: borderBottom 4s linear infinite;
  animation-delay: 2s;
}
.cardCotent:hover span:nth-child(4) {
  animation: borderLeft 4s linear infinite;
  animation-delay: 3s;
}
@keyframes borderTop {
  0% {
    background: lightgreen;
    transform: translateX(-100%);
  }
  50% {
    background: yellow;
    transform: translateX(100%);
  }
  100% {
    transform: translateX(200%);
  }
}
@keyframes borderRight {
  0% {
    background: yellow;
    transform: translateY(-100%);
  }
  50% {
    background: skyblue;
    transform: translateY(100%);
  }
  100% {
    transform: translateY(200%);
  }
}
@keyframes borderBottom {
  0% {
    background: skyblue;
    transform: translateX(100%);
  }
  50% {
    background: violet;
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-200%);
  }
}
@keyframes borderLeft {
  0% {
    background: violet;
    transform: translateY(100%);
  }
  50% {
    background: lightgreen;
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-200%);
  }
}
