* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.1rem;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    hsl(39, 100%, 40%),
    hsl(39, 100%, 60%),
    hsl(39, 100%, 90%)
  );
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

form {
  display: grid;
  justify-content: center;
  align-items: end;
  min-height: 13rem;
}
form input,
form button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 15px;
  outline: none;
}
form button {
  padding: 1rem;
  margin-left: 1rem;
  transition-property: color, background, font-weight;
  transition-duration: 300ms;
}
form button:hover {
  background: gray;
  color: whitesmoke;
  font-weight: 500;
}

ul {
  display: grid;
  place-items: center;
  padding-top: 5rem;
}

.todoItem {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding: 1rem;
  width: min(30rem, 80vw);
  border-radius: 15px;
  background: whitesmoke;
}

.todoItem li {
  list-style: none;
  word-break: break-all;
}

.todoItem button {
  padding: 0.5rem;
  margin-left: auto;
  border-radius: 15px;
  border: none;
  background: tomato;
  color: whitesmoke;
  transition: transform 300ms;
}

.todoItem button:hover {
  transform: scale(1.1);
}

.fade-enter {
  opacity: 0;
  transform: translateX(-2rem);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: 300ms ease-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}
