// IMPORT
@use "../abstract/abstract" as *;

/* --------------- ABOUT --------------- */
/* TIMELINE CONTAINER: THE COLORED BARS */
.timeline {
  margin-bottom: 2rem;
  font-weight: $fontW_md;
  /* EACH TIMELINE */
  > div {
    @include flexBox(center, space-between);
    padding: 1.3rem;
    border-radius: 20px;
  }
  > div:first-child {
    background: hsl(178, 42%, 76%);
    margin-bottom: 1rem;
  }
  > div:nth-child(2) {
    background: hsl(229, 76%, 91%);
    margin-bottom: 1rem;
  }
  > div:nth-child(3) {
    background: hsl(44, 93%, 88%);
    margin-bottom: 1rem;
  }
  > div:last-child {
    background: hsl(256, 96%, 90%);
  }
  /* JOB TITLE */
  p:last-child {
    margin-top: 0.2rem;
    font-size: 70%;
  }
}

/* PARAGRAPH DESCRIPTION CONTAINER */
.aboutMe {
  P {
    line-height: 1.75;
  }
  /* RESUME BUTTON */
  button {
    display: block;
    padding: 1rem 2rem;
    margin: 1rem auto 0 auto;
    border: none;
    border-radius: $borderR_md;
    background: $color_highlight;
    color: $color_light;
    font-weight: $fontW_md;
    transition: box-shadow 300ms;
    &:hover {
      box-shadow: 0 0 10px $color_dark;
    }
  }
}
