// IMPORT
@use "../abstract/abstract" as *;

/* --------------- INTRO --------------- */
/* CONTAINER */
.intro {
  position: relative; /* PARENT TO THE CAT */
  width: 100%; /* OVERWRITE SHARED WIDTH */
  padding: 1.5rem;
  background: $color_dark;
  color: $color_light;
  /* CAT */
  .cat {
    position: absolute;
    top: -5rem;
    right: 50%;
    z-index: -10;
    width: 320px;
    transform: translateX(50%);
    transition: top 300ms linear;
  }
  /* PHOTO POSITION ON SMALL SCREEN */
  .avatar {
    width: 16rem;
    height: 20rem;
    background: url("../img/avatar.jpg") no-repeat center;
    background-size: cover;
    margin: auto;
    border-radius: $borderR_sm;
  }
  /* WELCOME MESSAGE */
  span {
    @extend .fontCombo_md;
    display: block;
    margin-bottom: 0.2rem;
    color: $color_highlight;
  }
  /* SELF INTRO CONTAINER */
  p {
    margin-top: 2rem;
    text-align: center;
  }
}
/* ---- CAT: JS TOGGLE CLASS ---- */
// ON MOUSEMOVE, ADD CLASS
.hideCat.hideCat {
  top: 1rem;
}
