// IMPORT
@use "../abstract/abstract" as *;

/* --------------- SHOWCASE --------------- */
/* PROJECT CONTAINER */
.project {
  padding: 3rem 1rem;
  border: 2px solid $color_highlight;
  border-radius: $borderR_md;
  overflow: hidden;
  /* SHOWCASE IMAGE */
  img {
    display: block;
    margin: auto;
    transition: filter 300ms;
    &:hover {
      filter: brightness(0.6);
      cursor: not-allowed;
    }
  }
  /* PROJECT DESCRIPTION: KEY CODE + LINK BTN */
  .descriptions {
    margin-top: 2rem;
    font-weight: $fontW_md;
    word-spacing: 0.3ch;
    text-align: center;
    p {
      text-align: start;
    }
    /* KEY CODE HIGHLIGHT */
    span {
      color: $color_highlight;
      font-weight: $fontW_lg;
    }
    /* "SEE CODE" BTN */
    button {
      position: relative;
      padding: 1.2rem 2.3rem;
      margin-top: 1.5rem;
      border: none;
      border-radius: 30px;
      background: $bgColor;
      background-size: $bgSize;
      color: $color_light;
      font-weight: $fontW_lg;
      font-size: 1.2rem;
      /* ON HOVER SHOW ANIMATION */
      &:hover {
        animation: $bgAnimation;
      }
      /* SHADOW ANIMATION */
      &::after {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        border-radius: 30px;
        background: $bgColor;
        background-size: $bgSize;
      }
      &:hover::after {
        filter: blur(30px);
        animation: $bgAnimation;
      }
      /* var(--bgAnimation) */
      @keyframes bgColorLoop {
        0% {
          background-position: 0;
        }
        100% {
          background-position: 400%;
        }
      }
    }
  }
}
